.user-product-listing__row {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 900px;
    justify-content: center;
}

.user-product-listing__item {
    text-align: center;
    width: 25%;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid grey;
    margin: 10px;
}

.user-product-listing__item-image {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inc,
.dec {
    font-size: 30px;
    margin: 5px;
    padding: 6px;
}

.amount {
    width: 50px;
}

.user-product-listing {
    margin-top: 150px;
}

.user-product-listing__input-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}