.list-of-users {
    width: 1200px;
    margin-top: 30px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .list-of-users__buttons {
        display: flex;
        align-items: flex-start;
        margin: 0 -10px;

        a {
            display: block;
            margin: 0 10px;
        }
    }
}